<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="erico.rabelo.rpgrinding">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- Permissões internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permissões camera e galeria -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RPGrinding">
        <activity
            android:name=".atividades.CadastrarQuestActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.MinhasQuestsActivity"
            android:exported="true"
            android:label="@string/title_activity_minhas_quests"
            android:theme="@style/Theme.RPGrinding.NoActionBar" />
        <activity
            android:name=".atividades.QuestsActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.ConfiguracoesActivity"
            android:exported="true"
            android:parentActivityName=".atividades.MainActivity" />
        <activity
            android:name=".atividades.CadastroActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.MainActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>